<div class="outer">
    <div class="Questions">
        <ul class="Instructions">
            <h1 style="color: crimson;font-family:'Times New Roman', Times, serif">Instructions</h1>
            <li>Each question in the section is a multiple-choice question with four choices.</li>
            <li>Read each question and answer choice carefully and choose the ONE best answer.</li>
            <li>You may go back and review your answers at any time during the testing session.</li>
            <li>Try to answer all questions. There is <b>no</b> negative marking.</li>
            <li>Use of Mobile Phone or any communication device while the test is in-progress is <b>not</b> acceptable.</li>
            <li>Don't take any screenshots or navigate away from the test window.</li>
            <li>There are 3 levels and each level contains 10 questions and each question has a weightage of one mark.</li>
            <li>Each level has time constraint of 10 minutes.</li>
            <li>Candidates must have at least 6 marks to qualify each level, otherwise he/she can't appear for subsequent level.</li>
            <li>You can proceed exam now by clicking on Start exam button.</li>
        </ul>
        <div class="start">
            <a href="/question"><button type="button">Start Exam</button></a>
        </div>
    </div>    
</div>