<div class="main">
    <div class="regform">
    <div class="row">
        <div style="text-align: center;">
            <p class="cen">Your Scores are:
        </div>
                <div class="card-body table-responsive">
                    <div style="padding:4%">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th style="text-align:left;" >Level No:</th>
                                <th>Score</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{level_no}}</td>
                                    <td>{{level_score}}</td>                                
                                </tr>
                            </tbody>
                            <br>
                            <br>
    
                            <p>You have successfully cleared Level {{level_no}}</p>
                            <p>Gear up for next Level</p>
                            
                        </table>
                    </div>
                    
                    <a href="/question"><button type="" name="submit" class="btn btn-success pull-right">Start Next Level</button></a>
    

    </div>
    </div>
    </div>